<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Library</title>

    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/socket.io.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">


    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
    <!-- <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script> -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->
    
</head> 
<body>
    <div class="container" style="margin-top: 50px;">

        <div class="row">
            <div class="col-sm-6">

                <div class="input-group mb-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Youtube URL</span>
                    </div>
                    <input class="form-control" type="text" v-model="urls" @keyup.enter="sendurl">
                    <div class="input-group-append">
                        <button type="button" @click="sendurl" class="btn btn-primary">Download</button>
                      </div>
                </div>
                <table class="table table-bordered" style="margin-top: 10px;">
                    <tr>
                        <td>{{ message }}</td>
                    </tr>
                </table>
                
          
            </div>

            <div v-if="ready" class="col-sm-6 ">
                <table class="table" style="margin-top: 10px;">
                    <tr>
                        <td>{{ musicname }}</td>
                    </tr>
                </table>
                <audio loop autoplay controls>
                    <source :src="current_music" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                
            </div>

        </div>
        
        
        <div class="row" style="margin-top: 50px;">
            <div class="col-sm-12">
                <table id="mymusiclist" class="table table-stripped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="10px">No.</th>
                            <th>Music Name</th>
                            <th width="150px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item, index in items">
                            <th> {{ index + 1 }} </th>
                            <th> {{ item.name }} </th>
                            <th>
                                <button type="button" class="btn btn-success" @click="loadmusic(item.filepath, item.name)">Play</button>
                                <a :href="item.link" target="_blank"><button type="button" class="btn btn-danger">Youtube</button></a>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        

    </div>
    <script>
        var socket = io.connect('http://<<hostip>>:5000');
        socket.on('message', function(msg) {
            if (msg == "Done!"){
                app.getmusic()
                app.message = "Standing by..."
            }else{
                app.message = msg
            }
        });

        $(document).ready(function() {
            $('#mymusiclist').DataTable();
        });

        app = new Vue({
            el: ".container",
            data: {
                items: ["no item"],
                urls: "",
                ready: true,
                current_music: "",
                musicname: "",
                message: "Standing by..."
            },
            methods: {
                sendurl: function(){
                    th = this
                    var bodyFormData = new FormData();
                    bodyFormData.set('url', this.urls);

                    axios({
                        method: 'post',
                        url: 'http://<<hostip>>:5000/file',
                        data: bodyFormData,
                        timeout: 1000 * 10,
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                    }).then(res => {
                        window.location.href('/')
                    })
                },
                getmusic: function(){
                    th = this
                    axios.get(`http://<<hostip>>:5000/file`)
                        .then(res => {
                            const musiclist = res.data;
                            th.items = (musiclist.data)
                        })
                },
                loadmusic: function(musicpath, musicname){
                    this.ready = false
                    this.current_music = ""
                    th = this
                    setTimeout(function(){
                        th.musicname = musicname
                        th.current_music = "/static/music/" + musicpath
                        th.ready = true
                    },100)
                },
                mytest: function(){
                    socket.emit("message", 'client test ok!')
                }
            },
            computed: {
                selected_music: function(){
                    return "/static/music/" + this.current_music
                }
            },
            created(){
                this.getmusic()
            }
        })
    </script>
</body>
</html>